<div class="container">
  <h1>Please see all our flats here(<%=Flat.count%>)</h1>
  <div class="flats">
    <% @flats.each do |flat| %>
      <div class="flat">
        <div class="image">
        </div>
